# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub\poweredbyml\AdventOfCode2020-KT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
